<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/article-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="email">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="" lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/article/">文章管理</a></li>
                <li class="layui-this" lay-id="info">添加</a>
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p> 注意事项： </p>
                        <p> 1.已经过期的公告可以进行隐藏或删除;</p>
                        <p> 2.页面支持html代码和直接换行代码等等；</p>
                    </blockquote>
                    <form class="layui-form layui-show" method="post">
                        <div class="layui-form-item">
                            <label for="title"
                                   class="layui-form-label">分站
                            </label>
                            <div class="layui-input-block">
                                <select name="substation">
                                    <option value="master" >主站</option>
                                    <?php if(!empty($substation_list)):?>
                                    <?php foreach($substation_list AS $p):?>
                                    <option value="<?php echo $p['id'];?>" <?php if($p['id'] == $m_article['substation_id']):?>selected<?php endif;?>><?php echo $p['bind_url'];?></option>
                                    <?php endforeach;?>
                                    <?php endif;?>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="title" class="layui-form-label">文章名称</label>
                            <div class="layui-input-block">
                                <input type="text" id="title" name="title" lay-verify="required" autocomplete="off" value="<?php echo $m_article['title'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="description" class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <textarea placeholder="" id="description" name="description" autocomplete="off" class="layui-textarea" style="height: 80px;"><?php echo $m_article['content'];?></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">显示文章</label>
                            <div class="layui-input-block">
                                <input class="auto" type="radio" lay-filter="status" name="status" value="1" title="显示" <?php if($m_article['status']=='1' ):?>checked=""<?php endif;?>>
                                <input class="auto" type="radio" lay-filter="status" name="status" value="0" title="不显示" <?php if($m_article['status']=='0' ):?>checked=""<?php endif;?>>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="method" value="edit">
                            <input type="hidden" name="id" value="<?php echo $m_article['id'];?>">
                            <button class="layui-btn" key="set-mine" lay-filter="edit" lay-submit>确认添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
    layui.use('adminarticle');
</script>