</div>
</div>
<script  src="<?php echo ASSETS_PATH;?>/js/jquery.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/jquery-ui.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/popper.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/bootstrap.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/jquery.slimscroll.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/modernizr.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/css-scrollbars.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/custom-prism.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/i18next.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/i18nextxhrbackend.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/i18nextbrowserlanguagedetector.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/jquery-i18next.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/qrcode.min.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/pcoded.min.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/menu-hori-fixed.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/jquery.mcustomscrollbar.concat.min.js"></script>
<script  src="<?php echo ASSETS_PATH;?>/js/script.js"></script>
<script>
    var  short_url = window.location.href;
               var qrcode = new QRCode('qrcode', {
                text: short_url,
                width: 268,
                height: 268,
                colorDark : '#000000',
                colorLight : '#ffffff',
                correctLevel : QRCode.CorrectLevel.H
            });
            $("#qrcode > img").css({"margin":"auto"});
</script>
<!--统计代码-->
<?php if(isset($config['tongji']) AND strlen($config['tongji'])>0):?>
<?php echo $config['tongji'];?>
<?php endif;?>
</body>
</html>
