<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo $title.'_'.$config['webname'];?></title>
    <meta name="version" content="<?php echo VERSION;?>">
    <meta name="keywords" content="Smalls二次开发">
    <meta name="author" content="Smalls二次开发">
    <meta name="description" content="<?php echo $config['webdescription'];?>">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/slick.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/prism.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/style.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/jquery.mcustomscrollbar.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/pcoded-horizontal.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS_PATH;?>/css/gmpanel.css">
    <?php if(isset($config['shortcuticon']) AND strlen($config['shortcuticon'])>0):?>
    <link rel="shortcut icon" href="<?php echo $config['shortcuticon'];?>" />
    <?php else:?>
    <link rel="shortcut icon" href="/favicon.ico" />
    <?php endif;?>
    <script>
        var TOKEN = "<?php echo $csrf_token;?>";
        if (self != top) {
            top.location = self.location;
        }
    </script>
</head>
<body>
<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<div id="pcoded" class="pcoded">
    <div class="pcoded-container">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a href="/">
                        <img class="img-fluid" src="<?php if(isset($config['logo']) AND strlen($config['logo'])>0):?><?php echo $config['logo'];?><?php else:?><?php echo ASSETS_PATH;?>/images/logo.png<?php endif;?>" alt="<?php echo $config['webname'];?>" />
                    </a>
                    <a class="mobile-options">
                        更多 <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-right">
                        <li>
                            <a href="#"data-toggle="modal" data-target="#url-Modal" target="_blank">
                                <i class="fa fa-opera"></i> 扫码
                            </a>
                        </li>
                        <li>
                            <a href="/help/">
                                <i class="fa fa-list"></i> 文章
                            </a>
                        </li>
                        <?php if(isset($config['kefu_qq'])):?>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<?php echo $config['kefu_qq']; ?>&amp;site=smalls&amp;menu=yes" target="_blank">
                                <i class="fa fa-commenting"></i> 客服
                            </a>
                        </li>
                        <?php endif;?>
                        <?php if(isset($config['qun_url'])):?>
                        <li>
                            <a href="<?php echo $config['qun_url']; ?>" target="_blank">
                                <i class="fa fa-comments"></i> Q群
                            </a>
                        </li>
                        <?php endif;?>
                        <li>
                            <a href="/product/query">
                                <i class="fa fa-search"></i> 订单
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a href="/product/substation">-->
                                <!--<i class="fa fa-search"></i> 赚钱-->
                            <!--</a>-->
                        <!--</li>-->
                        <?php if($login):?>
                        <li class="user-profile header-notification">
                            <a href="#">
                                <?php echo $uinfo['nickname'];?>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification" style="min-width: 150px;width: 150px;">
                                <li>
                                    <a href="/member/logout/?referer_url=/product">
                                        <i class="fa fa-sign-out"></i> 注销
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <?php else:?>
                        <li>
                            <a href="/member/login/">
                                <i class="fa fa-connectdevelop"></i> 登陆
                            </a>
                        </li>
                        <?php endif;?>
                    </ul>
                </div>
            </div>
        </nav>