<?php if(isset($config['notice'])):?>
<div class="modal fade" id="url-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">温馨提醒</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <?php echo $config['notice']; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light " data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<?php endif;?>