<?php include SMALLS_COMMON_PATH.'/header.html';?>
<style>
	p{
		font-size: 15px!important;
		line-height: 30px!important;
	}
	.img-desc {
		width: 100%;
		height: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		vertical-align: middle;
		border: 0;
	}
	.am-text-truncate {
		word-wrap: normal;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.trade-goodinfo {
		padding: 10px;
		margin-bottom: 5px;
	}
	.trade-price {
		color: #F40;
		font-size: 26px;
		font-weight: 700;
	}
	.am-panel-hd{
		font-size: 21px;
	}
</style>
<div class="pcoded-main-container">
	<div class="container">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row">
						<div class="col-md-12">
							<!-- Product detail page start -->
							<form id="form">
								<div class="card product-detail-page">
									<div class="card-block">
										<div class="row">
											<div class="col-lg-6 col-xs-12">
												<img class="img-desc" src="<?php echo strpos($product['images'],'http') !== false ? $product['images'] : $_SERVER['REQUEST_SCHEME'].'://'.$_SERVER['HTTP_HOST'].'/'.$product['images']; ?>" alt="<?php echo $product['name']; ?>">
											</div>

											<div class="col-lg-6 col-xs-12 product-detail" id="product-detail">
													<!-- 网格开始 -->

													<input type="hidden" value="1" name="goodid">
													<h2 style="margin-top: 0px;color: #333;font-family: 微软雅黑;" class="am-text-truncate"><?php echo $product['name']; ?></h2>
													<p class="trade-goodinfo" style="margin-top: 20px">
														<span style="color:#6c6c6c">促销：</span>
														<span class="trade-price">¥<?php echo $product['price'];?></span>

														<span style="float:right">
                                                                <span style="color: #6C6C6C;">累积销量：</span>
                                                                <span style="color:#6c6c6c;font-size:18px;"><?php echo $product['sale_num'] ? $product['sale_num']:0; ?></span>
                                                        </span><br>
														<?php if($product['stockcontrol']==0):?>
														<span style="color:#6C6C6C">库存：不限量</span>
														<input type="hidden" name="qty" id="qty" value="不限量">
														<?php else:?>
														<span style="color:#6C6C6C">库存：<?php echo $product['qty']; ?>件</span>
														<input type="hidden" name="qty" id="qty" value="<?php echo $product['qty'];?>">
														<?php endif;?>
														<a id="wholesale" style="color:dodgerblue;margin-left:5px;font-size:10px" href="javascript:;" onclick="viewWholeSale(<?php echo $product['id'];?>)">查看批发价</a>
														<br><span style="color:#6c6c6c;">服务：自动发货 无忧售后</span>
													</p>
													<?php if(!empty($addons)):?>
													<?php foreach($addons AS $key=>$addon):?>
													<?php if($addon):?>
													<?php if($addon=='代充账号'):?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-user"></span>
                                                            </button>
                                                        </span>
														<input id="addons<?php echo $key;?>" type="text" name="addons[]"  class="form-control" placeholder="<?php echo $addon;?> " required>
													</div>
													<?php elseif($addon=='代充密码'):?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-key"></span>
                                                            </button>
                                                        </span>
														<input id="addons<?php echo $key;?>" type="text" name="addons[]"  class="form-control" placeholder="<?php echo $addon;?> " required>
													</div>
													<?php elseif($addon=='代充手机'):?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-mobile-phone"></span>
                                                            </button>
                                                        </span>
														<input id="addons<?php echo $key;?>" type="text" name="addons[]"  class="form-control" placeholder="<?php echo $addon;?> " required>
													</div>
													<?php else:?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-user"></span>
                                                            </button>
                                                        </span>
														<input id="addons<?php echo $key;?>" type="text" name="addons[]"  class="form-control" placeholder="<?php echo $addon;?> " required>
													</div>
													<?php endif;?>
													<?php endif;?>
													<?php endforeach;?>
													<?php endif;?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled" data-type="minus" data-field="number">
                                                                <span class="fa fa-minus"></span>
                                                            </button>
                                                        </span>
														<input id="number" type="text" name="number" class="form-control input-number text-center" value="1">
														<span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" data-type="plus" data-field="number">
                                                                <span class="fa fa-plus"></span>
                                                            </button>
                                                        </span>
													</div>
													<?php if($login):?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-envelope"></span>
                                                            </button>
                                                        </span>
														<input id='email' type="text" name="email"  class="form-control" placeholder="填写QQ邮箱,用于订单查询! " required>
													</div>
													<?php else:?>
													<?php if(isset($config['orderinputtype']) AND $config['orderinputtype'] == '2'):?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-envelope"></span>
                                                            </button>
                                                        </span>
														<input id='qq' type="text" name="qq"  class="form-control" placeholder="填写QQ,用于订单查询! " required>
													</div>
													<?php else:?>
													<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-envelope"></span>
                                                            </button>
                                                        </span>
														<input id='email' type="text" name="email"  class="form-control" placeholder="填写QQ邮箱,用于订单查询! " required>
													</div>
													<?php endif;?>
													<?php endif;?>
												<div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number shadow-none" disabled="disabled">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </span>
													<input id='chapwd' type="text" name="chapwd"  class="form-control" placeholder="将作为自助查询订单重要依据 " required>
												</div>
													<div class="form-radio m-b-10">
														<?php if(!empty($payments)):?>
														<?php foreach($payments AS $payment):?>
														<?php if($payment['active']>0):?>
														<div class="radio radio-inline">
															<label>
																<input type="radio" name="paymethod" value="<?php echo $payment['alias'];?>">
																<i class="helper" style="top: 0rem;"></i><img src="<?php echo $payment['payimage'];?>" height="30px">
															</label>
														</div>
														<?php endif;?>
														<?php endforeach;?>
														<?php else:?>
														<div class="radio radio-inline">
															<span>站长正在加紧配置，请耐心等待....</span>
														</div>

														<?php endif;?>
													</div>
                                                <input type="hidden" name="csrf_token" id="csrf_token" value="<?php echo $csrf_token;?>">
														<input type="hidden" name="price" id="price" value="<?php echo $product['price'];?>">
														<input type="hidden" name="money" id="money" value="<?php echo $product['price'];?>">
														<input type="hidden" name="stockcontrol" id="stockcontrol" value="<?php echo $product['stockcontrol'];?>">
														<input type="hidden" name="limitorderqty" id="limitorderqty" value="<?php echo $config['limitorderqty'];?>">
														<input type="hidden" name="pid" id="pid" value="<?php echo $product['id'];?>">
													<button type="button" class="btn btn-default btn-block waves-effect waves-light m-r-20" id="order_button" onclick="card_ware_order()"<?php if($product['stockcontrol']>0 AND $product['qty']<1):?>disabled="disabled"<?php endif;?>>
													<i class="fa fa-shopping-cart f-16"></i><span class="m-l-10">购买</span>
													</button>


													<!-- 网格结束 -->
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-xs-12">
												<div class="am-panel am-panel-default" style="border-radius:0px;margin-top: 10px">
													<div class="am-panel-hd"><b>商品描述</b></div>
													<hr>
													<div class="am-panel-bd">
														<p>
															<span style="background-color:#FFFFFF;"><?php echo $product['description']; ?></span>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- Product detail page end -->
						</div>
					</div>
					<!-- Nav tabs card end-->
				</div>
			</div>
		</div>
	</div>
	<?php include SMALLS_COMMON_PATH.'/qcode.html';?>
</div>
<!-- slick js -->
<?php include SMALLS_COMMON_PATH.'/footer.html';?>
<script  src="<?php echo ASSETS_PATH;?>/js/slick.min.js"></script>
<!-- product detail js -->
<script  src="<?php echo ASSETS_PATH;?>/js/product-detail.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/pcoded.min.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/jquery.qrcode.min.js"></script>
<script src="<?php echo ASSETS_PATH;?>/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $(function(){
        var url = window.location.href;
        $("#qcode").empty();
        $("#qcode").qrcode({
            render: "table",
            width: 230,
            height:210,
            text: url
        });
    })

    function card_ware_order() {
        var chapwd = $('#chapwd').val();
        var qq = $('#qq').val();
        var email = $('#email').val();
        if(chapwd==''){
            notice('请输入查询密码！');
            return;
        }
        if(qq=='' || email==''){
            notice('请输入正确的QQ或者QQ邮箱！');
            return;
        }
        $('#order_button').attr('disabled', true);
        $.ajax({
            url: "/product/order/buy/",
            type: "POST",
            dataType: "json",
            data:$('form').serialize(),
            success: function (result) {
                if (result.code == '1') {
                    var oid = result.data.oid;
                    if(oid.length>0){
                        if(result.data.type === 'balance' && result.data.uid === ''){
                            notice('使用余额支付时请先登陆!');
						}else{
                            location.href = '/product/order/pay/?oid='+oid;
						}
                    }else{
                        $('#order_button').attr('disabled', false);
                        notice('订单异常');
                        return;
                    }
                } else {
                    $('#order_button').attr('disabled', false);
                    notice(result.msg);
                    return;
                }
            }
        });
    }
    function viewWholeSale(pid) {
        $.ajax({
            url: "/product/detail/wholeSaleajax/",
            type: "POST",
            dataType: "json",
            data:{
                id: pid
			},
            success: function (result) {
                if (result.code == '1') {
                    var list = result.data,text='';
                    if(list.length>0){
                        $.each(list,function (k,i) {
							text += '满'+i.num+'件'+i.price+'元/件<br/>';
                        })
                    }else{
                        text = '未查询到批发价';
                    }
                } else {
                    text = result.msg;
                }
                new NoticeJs({
                    text: text,
                    position: 'middleCenter',
                    timeout: 60,
                    animation: {
                        open: 'animated bounceInRight',
                        close: 'animated bounceOutLeft'
                    }
                }).show();
            }
        });
    }
</script>