<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/substation">分站管理</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/substationtype">分站分类管理</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/substationurl">分站域名管理</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>